@use '../../variables' as vars;

.now {
  background-color: vars.$color-bg;
  padding: vars.$section-padding-y 0;
  min-height: 100vh;
}

.now a {
  color: vars.$color-secondary;
  text-decoration: none;
}

.now a:hover {
  text-decoration: underline;
}

.sectionTitle {
  max-width: vars.$section-max-width;
  margin: 0 auto;
  padding: 0 calc(vars.$section-padding-x + 15%);
}

.lastUpdated {
  max-width: vars.$section-max-width;
  margin: 0 auto;
  padding: 0.5rem calc(vars.$section-padding-x + 15%) 0;
  color: vars.$color-text-muted;
  font-size: 0.85rem;
}

.description {
  max-width: vars.$section-max-width;
  margin: 0 auto;
  padding: calc(vars.$section-padding-y * 0.50) calc(vars.$section-padding-x + 15%);
}

.container {
  max-width: vars.$section-max-width;
  margin: 0 auto;
  padding: 0 calc(vars.$section-padding-x + 15%);
}

.subsection {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    color: vars.$color-primary;
    padding-bottom: 1rem;
  }

  // p {
  //   color: vars.$color-text;
  //   font-weight: 400;
  // }
}

@media (max-width: 767px) {

  .sectionTitle {
    margin-bottom: 0.25rem;
    padding: 0 vars.$section-padding-x-mobile;
  }

  .lastUpdated {
    padding: 0 vars.$section-padding-x-mobile;
    margin-bottom: 3rem;
  }

  .description {
    margin-bottom: 3rem;
    padding: 0 vars.$section-padding-x-mobile;
  }

  .container {
    padding: 0 vars.$section-padding-x-mobile;
  }

  .subsection {
    margin-bottom: 3rem;
  }
}
